/* standard navbar */
@media (min-width: 768px) {
  .navbar-icon-text {
    display: none;
  }
}

/* mobile navbar */
@media (max-width: 767px) {
  .navbar-icon-text {
    display: visible;
  }
}

#userList tr td:nth-of-type(1),
#userList tr th:nth-of-type(1)
 {
  width: 5em;
  text-align: center;
}

#userList tr td:nth-of-type(2),
#userList tr th:nth-of-type(2)
 {
  width: 5em;
  text-align: center;
}

#userList tr td:nth-of-type(3),
#userList tr th:nth-of-type(3) {
  text-align: left;
  width: 10em;
}

#userList tr td:nth-of-type(4),
#userList tr th:nth-of-type(4) {
  text-align: left;
  width: auto;
}

#userList tr td:nth-of-type(5),
#userList tr th:nth-of-type(5) {
  text-align: center;
  width: 40px;
}

#userList .highlight {
  background-color: whiteSmoke;
}

#userList .focus {
  background-color: aliceBlue;
}

#userList .rowControl {
  display: none;
}

#userList .highlight .rowControl {
  display: inline;
}
