<div class="container">
<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Invalid Verification Link</h3>
  </div>
  <div class="panel-body">
  <p>
    The link you have followed is either not correct or is no longer valid.
  </p>
  <ul>
    <li>Check your e-mail to make sure the link you followed is correct in your browser<br/><i>- or -</i></li>
    <li><a href="{{{resendUrl}}}">Request a new verification link</a></li>
  </ul>
  </div>
</div>
</div>
