<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="_csrf" th:content="${_csrf.token}" th:if="${_csrf != null}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}" th:if="${_csrf != null}"/>
  <meta name="_lastSecurityError"
    th:content="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
    th:if="${param.error != null && session['SPRING_SECURITY_LAST_EXCEPTION'] != null}"/>
  <meta name="_logout" content="true" th:if="${param.logout}"/>
  
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  <script th:inline='javascript'>
    window._contextPath = /*[[@{/}]]*/ '/';         
  </script>
  <script th:src="@{/js/config.js}"></script>
  <script th:src="@{/js/require.js}"></script>
</head>
<body>
  <script th:inline="javascript">
    /*<![CDATA[*/
      var pageModule = /*[[${#httpServletRequest.requestURI}]]*/ '';
      pageModule = pageModule.substring(window._contextPath.length);
      if (pageModule.length == 0) {
      	pageModule = "page/index";
      }
      
      require([ pageModule ], function (page) {
      	page.initialize({contextPath: window._contextPath});
      }, function(err) {
        console.log("error loading " + pageModule);
        console.log(err);
        window.alert('Fatal Javascript Error\n\n' 
        	  + 'An unrecoverable error has occurred initializing the\n'
        	  + 'javascript for a page:\n\n'
        	  + err.message);
      });
    /*]]>*/
  </script>
  <div id="contents" style="display:none;">
  </div>
</body>
</html>
