<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Javascript Error</h3>
  </div>
  <div class="panel-body">
    <pre>
    {{stack}}
    </pre>
  </div>
</div>
