<div class="alert-container container">
<div class="alert alert-info" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> 
  <strong>Logged Out</strong>
  <p>
    You have been logged out.
  </p>
</div>
</div>