<div class="alert-container container">
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
  <strong>Unable to Log In</strong>
  <p>
    {{message}}
  </p>
  <p>
    <small><a class="alert-link" href="#">Having trouble logging in?</a></small>
  </p>
</div>
</div>