<div class="container">
  <form method="post" class="form">
    <div class="form-group required">
      <div class="form-control-header">
              <label class="control-label" for="email">E-mail Address</label>
        <div class="error"></div>
      </div>
      <input class="form-control submit-input" id="email" name="email" type="text" placeholder="Enter e-mail address associated with account">
    </div> 
    <button type="submit" id="requestResend" class="btn btn-primary">Resend Activation</button>
  </form>
</div>
