<div class="container">
<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Verification Sent</h3>
  </div>
  <div class="panel-body">
  <p>
    An e-mail has been sent to <span id="verifictionTo">your e-mail address</span> 
    with instructions to complete the verification of your account.
  </p>
  </div>
</div>
</div>
