/* standard navbar */
@media (min-width: 768px) {
  .navbar-icon-text {
    display: none;
  }
}

/* mobile navbar */
@media (max-width: 767px) {
  .navbar-icon-text {
    display: visible;
  }
}

.form .error {
  color: #ff0000;
  font-weight: normal;
}

.form-control-header label {
  float: left;
}

.form-control-header .error {
  float: right;
}

.alert-container {
  text-align: center;
}

.alert-container .alert {
  display: inline-block;
  margin: 0 auto;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}
